@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
}

/*  MAIN BODY GRID CONTAINER */

.grid-container{
    display: grid;
}

.card{
background-color: #666666;
border: 1px solid #eeee;
border-radius: 8px;
width: 30%;
}

.card__img{
    background-color: #352c2c;
    background-image: url(../src/img/cat.jpeg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}